@import "fonts.css";

/* ROOT START
********************************************* */

:root {
    --fz_Helvetica-Regular: "Helvetica-Regular";
    --fz_Nexa-Black: "Nexa-Black";
    --fz_Nexa-Bold: "Nexa-Bold";
    --fz_Nexa-Book: "Nexa-Book";
    --fz_Nexa-Regular: "Nexa-Regular";
    --fz_Nexa-XBold: "Nexa-XBold";
    --fz_PTSans-Bold: "PTSans-Bold";
    --fz_PTSans-Italic: "PTSans-Italic";
    --fz_PTSans-Regular: "PTSans-Regular";
    --fz_Quicksand-Bold: "Quicksand-Bold";
    --color_logo: linear-gradient(to right, #6a19ac, #56159a);
    --color_logo-text: #7d7d7d;
    --color_header-guicklinks: #c7c7c7;
    --color_header-dropdown: #58159b;
    --color_header-search: #959595;
    --color_header-links: #707070;
    --color_header-links-hover: #701dbb;
    --color_header-links-bottom: #8038c2;
    --color_header-background: #ebebeb;
    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}

.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}

.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mh-100 {
    min-height: 100vh;
}

.pad-zero {
    padding: 0;
}

/* ROOT END
********************************************* */

/* HEADER START
********************************************* */

body {
    background: var(--color_header-background);
}
.header__bg-color {
    background: #ebebeb;
}

.gggg { 
  margin-top: 130px;
  position: relative;
  object-fit: cover;
  background-attachment: fixed;
}

.header__logo-text {
    margin-left: 10px;
}

.header__logo-text p {
    font-size: 12px;
    color: var(--color_logo-text);
    font-family: var(--fz_PTSans-Italic);
}


.header__quicklinks {
    font-size: 12px;
    line-height: 12px;
    font-family: var(--fz_Nexa-Bold);
    color: var(--color_header-guicklinks);
    transition: color 500ms;
}


.header__location-icon {
    font-size: 18px;
    margin-left: 10px;
}

.header__dropdown {
    font-size: 12px;
    line-height: 12px;
    font-family: var(--fz_Nexa-Bold);
    color: var(--color_header-guicklinks);
    transition: color 500ms;
}

.header__quotes-icon {
    font-size: 14px;
    margin-left: 10px;
}

.header__quicklinks-icon::after {
    content: "";
    border-right: 1px solid;
    color: var(--color_header-guicklinks);
    height: 26px;
    margin: 0 19px 0 16px;
}

.header__quicklinks:hover,
.header__dropdown:hover {
    color: var(--color_header-dropdown);
}

.header__search-clock {
    position: relative;
    display: inline-block;
}

.header__search {
    border: none;
    outline: none;
    border: 1px solid #ececec;
    width: 298px;
    height: 46px;
    padding-left: 19px;
    color: var(--color_header-search);
    font-size: 12px;
    line-height: 11px;
    font-family: var(--fz_Nexa-Bold);
}

.header__clock {
    position: absolute;
    right: 13px;
    top: 12px;
    color: var(--color_header-links-hover);
    font-size: 23px;
    line-height: 23px;
}

.header__logo-geo-search {
    margin-top: 41px;
}

.header__nav {
    margin-top: 34px;
    position: absolute;
    z-index: 999;
}

.header__nav-links {
    font-size: 17px;
    line-height: 14px;
    font-family: var(--fz_PTSans-Bold);
    color: var(--color_header-links);
    padding: 18px 61px 28px 62.6px;
    background: linear-gradient(to bottom, #ffffff, #e4e4e4);
    border-bottom: 5px solid #a34ff0;
    transition: color 500ms, border-bottom 300ms, margin-top 500ms;
    z-index: 1;
}

.header__nav-links:hover {
    margin-top: -9px;
    border-bottom: 14px solid #6915b8;
    color: var(--color_header-links-bottom);
    z-index: -1;
}

.header__nav-icon {
    margin-bottom: 18px;
}

.header__nav-icon {
    font-size: 26px;
}
.header__nav-links:not(.header__nav-links-last) {
    border-right: 1px solid #7d7d7d;
}

/* HEADER END
********************************************* */


.main__map-color {
    background: #2d2d2d;
    border-top: 1px solid #5a5a5a;
    border-bottom: 1px solid #222222;
}

.main__map-h1 {
    font-size: 36px;
    line-height: 27px;
    color: #ffffff;
    font-family: var(--fz_Nexa-Book);
    margin-top: 50px;
}

.main__map-p1 {
    font-size: 14px;
    line-height: 11px;
    color: #a161db;
    font-family: var(--fz_Nexa-Bold);
    margin-top: 3px;
}

.main__map {
    margin-top: 25px;
}

.main__map-clock,
.main__map-cloud,
.main__map-desing {
    font-size: 70px;
    color: #6d6d6d;
}

.main__map-clock::after {
    content: "";
    width: 140px;
    border-bottom: 3px solid #6d6d6d;
    margin: 0 70px 0 70px;
}

.main__map-cloud::after {
    content: "";
    width: 140px;
    border-bottom: 3px solid #6d6d6d;
    margin: 0 70px 0 70px;
}

.main__save-time {
    font-size: 24px;
    line-height: 18px;
    color: #ffffff;
    font-family: var(--fz_Nexa-Book);
    margin-top: 50px;
}

.main__save-text {
    font-size: 12px;
    line-height: 22px;
    color: #a3a3a3;
    font-family: var(--fz_Nexa-Regular);
    margin-top: 20px;
}

.main__map-h-p {
    margin-bottom: 100px;
}
.main-map-laptop{
    background: #222222;
    /* position: relative; */
    padding-top: 55px;
}
.laptop{
    border-radius: 30px 30px 0 0;
}
.laptop-content{
    margin-top: -150px;
    padding-bottom: 70px;
}
.laptop-title{
    font-size: 36px;
    font-family: var(--fz_Nexa-Bold);
    color: #ffffff;
}
.laptop-text{
    margin-top: 20px;
    font-size: 14px;
    font-family: var(--fz_Nexa-Bold);
    opacity: 0.3;
}
/* Article Start */
.article-team{
    margin-top: 80px;
}
.article-title{
    margin-bottom: 18px;    
}
.team-title{
    font-size: 36px;
    font-family: var(--fz_Nexa-Book);
    line-height: 27px;
    color: var(--color_header-links);
}
.title-line{
    width: 220px;
    height: 3px;
    background: var(--color_header-guicklinks);
}
.team-text{
    font-size: 14px;
    font-family: var(--fz_Nexa-Bold);
    color: var(--color_header-links);
    line-height: 10px;
    margin-bottom: 50px;
}
.img-0{
    position: relative;
}
.logo-size{
    font-size: 20px;
}
.img-logo{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
}
.img-1-text{
    font-size: 18px;
    font-family: var(--fz_PTSans-Bold);
    color: var(--color_logo-text);
}
.img-2-text{
    font-size: 14px;
    font-family: var(--fz_PTSans-Regular);
    color: var(--color_logo-text);
}
.article-main{
    margin-top: 90px;
    /* padding: 0 25px; */
}
.article-item{
    background: #ffffff;
    padding: 60px 60px 100px 50px;
}
.article-item:first-of-type{
    margin-right: 20px;
}
.article-h3{
    font-size: 30px;
    font-family: var(--fz_Nexa-Bold);
    color: #252525;
    margin-bottom: 20px;
}
.article-p{
    font-size: 14px;
    font-family: var(--fz_Nexa-Bold);
    color: var(--color_header-dropdown);
    margin-bottom: 40px;
    letter-spacing: 0.3px;
    line-height: 25px;
}
.article-p2{
    font-size: 12px;
    font-family: var(--fz_Nexa-Bold);
    color: var(--color_header-search);
    letter-spacing: 0.1px;
    line-height: 22px;
}
.article-main-2{
    background: #ffffff;
    /* margin-top: 17px; */
    padding: 70px 70px 96px 50px;
    margin: 17px 86px 35px 86px;
}
/* Main End */
/* *********************************** */
/* Footer Start */
.footer{
    padding-top: 25px;
    background: #373737;
    border-top: 5px solid #914dcf;
    padding-bottom: 240px;
}
.footer-text{
    font-size: 12px;
    font-family: var(--fz_Helvetica-Regular);
    color: var(--color_header-guicklinks);
    margin-top: 40px;
    line-height: 25px;
    letter-spacing: 0.4px;
}
.footer-nav-a{
    display: inline-block;
    padding: 15px 0;
    color: #ffffff;
    font-size: 12px;
    font-family: var(--fz_Nexa-Bold);
    border-bottom: 4px solid transparent;
    transition: border 500ms, color 500ms;
}
.footer-nav-a:hover{
    color: #a34ff0;
    border-bottom: 4px solid #a34ff0;
}
.footer-contact{
    margin-top: 40px;
}
.contacts{
    color: #ffffff;
    margin-right: 35px;
    transition: color 500ms;
    font-size: 12px;
    font-family: var(--fz_PTSans-Bold);
}
.contacts:hover{
    color: #a34ff0;
}


